<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <body>
        <form action="/stack" method="POST">
          <h2 style="text-align: center; font-size: 32px; margin-bottom: 0;">Predict Closed Questions on Stack Overflow</h2>
          <p style="text-align: center; font-size: 18px;">Enter your question:</p>
          <div class="mark card card--accent">
            <div id="input-container">
              <input type="text" id="title" name="title" placeholder="Enter Title">
              <textarea id="body" name="body" placeholder="Enter Body"></textarea>
            </div>
            <input type="submit" value="Submit">
          </div></form>
        </div><br><br><br>
        {%if new %}<div class="output">
        <label> {{new}}</label></div>
        {% endif %}
    
    </body>
</html>
